name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Install tools
        run: |
          go install github.com/oapi-codegen/oapi-codegen/v2/cmd/oapi-codegen@v2.5.1
          go install mvdan.cc/gofumpt@v0.6.0
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.61.0
      - name: Make CI
        run: make ci
